%nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
  = link_to 'Realtime Chat', rooms_path, class: 'navbar-brand col-sm-3 col-md-2 mr-0'
  = link_to 'Profile', edit_user_registration_path, class: 'nav-link'

  %ul.navbar-nav.px-3
    %li.nav-item.text-nowrap
      = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'
