%nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  .rooms.rooms--open
    .rooms__header
      %h3 Public rooms
      .rooms__add-btn
        = link_to new_room_path(type: 'open') do
          %i.icofont-plus

    .rooms__list{ data: { behavior: 'react', type: 'open' } }

  .rooms.rooms--closed
    .rooms__header
      %h3 Private rooms
      .rooms__add-btn
        = link_to new_room_path(type: 'closed') do
          %i.icofont-plus
    .rooms__list{ data: { behavior: 'react', type: 'closed' } }

  .rooms.rooms--direct
    .rooms__header
      %h3 Direct messages
      .rooms__add-btn
        = link_to new_room_path(type: 'direct') do
          %i.icofont-plus

    .rooms__list{ data: { behavior: 'react', type: 'direct' } }

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    var data = #{ raw @rooms_list_data }
    window.initializeRoomsList(data)
  });