%nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    .username-info.my-3
      = "Hello #{current_user.username}!"

    .rooms-action.my-3
      = link_to new_room_path, class: 'btn btn-primary' do
        Create a room

    #rooms-list__component{ 'data-behavior': 'react' }

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    var data = #{ raw @rooms_list_data }
    window.initializeRoomsList(data)
  });