.mb-3
  = link_to new_room_path, class: 'btn btn-primary' do
    Create a room
- if @rooms.present?
  %nav.nav.flex-column
    - @rooms.each do |room|
      = link_to room.name, room_path(room), class: 'nav-link room-nav-link'
- else
  .text-muted
    The are no rooms
