.row
  .col-12.col-md-3.text-cebter
    = render partial: 'rooms'
  .col
    .alert.alert-primary
      %h4.alert-heading
        Welcome to the RailsChatTutorial!
      %p
        We need to talk.
      %hr/
      %p
        You can create or join a room from the sidebar.
