.attachments {
  display: flex;
  flex-wrap: wrap;

  .attachment {
    position: relative;
    margin: .5rem;
    transition: all 200ms ease-in;

    &:hover {
      box-shadow: 0 0 .5rem rgba(0,0,0,.5)
    }

    &__delete {
      cursor: pointer;
      font-size: 1.5rem;
      background: white;
      line-height: 1.5rem;
      padding: 2px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%)
    }

    &__placeholder {
      width: 100px;
      height: 56px;
      background: #ddd;
      display: inline-block;
      line-height: 56px;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}