.chat {
  &__conversation {
    min-height: 400px;
    max-height: calc(100vh - 275px);
    overflow-y: auto;
    padding: .5rem;
  }

  &__load-more {
    text-align: center;
  }

  &__info {
    text-align: center;
    font-weight: bold;
  }

  &__message-form {
    margin-top: 1rem;
  }

  &__typers {
    padding-bottom: .5rem;

    span {
      display: inline-block;
      height: 1rem;
    }
  }
}