.message {
  &__info {
    padding: .5rem;

    span {
      display: inline-block;
      margin-right: 1.5rem;
    }

    .username {
      font-weight: bold;
    }

    .date,
    .edited {
      color: #666;
    }
  }

  &__body {
    position: relative;

    p {
      margin-bottom: 1rem;
      padding-right: 5rem;
      white-space: pre-line;

      &:only-child {
        margin: 0;
      }
    }

    blockquote {
      padding: .5rem 1.5rem;
      background-color: #eee;
    }

    ul, ol {
      margin-left: 2rem;
    }

    .message__actions {
      position: absolute;
      top: 0;
      right: 0;
      
      span {
        padding: 0 .5rem;
        cursor: pointer;
      }
    }
  }

  &__container {
    padding: .5rem;
    border-radius: .5rem;
  }

  &--own {
    .message__container {
      background: #FFF;
    }
  }

  &--foreign {
    margin-left: 1.5rem;

    .message__container {
      background: #7EC6F2;
    }
  }
}