.message {
  &__info {
    padding: .5rem;

    span {
      display: inline-block;
      margin-right: 1.5rem;
    }

    .username {
      font-weight: bold;
    }

    .date,
    .edited {
      color: #666;
    }
  }

  &__body {
    margin: 0;
  }

  &__container {
    padding: .5rem;
    border-radius: .5rem;
  }

  &--own {
    .message__container {
      background: #FFF;
    }
  }

  &--foreign {
    margin-left: 1.5rem;

    .message__container {
      background: #7EC6F2;
    }
  }
}