.message {
  &__body {
    position: relative;
    padding: .25rem;

    p {
      margin-bottom: 1rem;
      padding-right: 5rem;
      padding-left: .5rem;
      white-space: pre-line;

      &:only-child {
        margin: 0;
      }
    }

    blockquote {
      padding: .5rem 1.5rem;
      background-color: #fafafa;
    }

    ul, ol {
      margin-left: 2rem;
    }

    .message__edited {
      padding-left: .5rem;
      font-size: .75rem;
      color: #666;
    }

    .message__actions {
      position: absolute;
      top: .25rem;
      right: .25rem;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0ms, opacity 250ms linear;
      
      span {
        padding: 0 .5rem;
        cursor: pointer;
      }
    }

    &:hover > .message__actions {
      visibility: visible;
      opacity: 1;
    }
  }
}