.message {
  &__info {
    padding: .5rem;

    .username {
      display: inline-block;
      margin-right: 2rem;
      font-weight: bold;
    }

    .date {
      display: inline-block;
      color: #666;
    }
  }

  &__body {
    padding: .5rem;
    border-radius: .5rem;
  }

  &__own {
    .message__body {
      background: #FFF;
    }
  }

  &__foreign {
    margin-left: 1.5rem;

    .message__body {
      background: #7EC6F2;
    }
  }
}